@model IEnumerable<CategoriesSystem.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h2 class="mb-4">Categories</h2>
<a asp-controller="Categories" asp-action="Create" >Create Category</a>
<a asp-controller="Products" asp-action="Create" >Create Product</a>

<div class="row">
    @foreach (var category in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="@category.ImagePath" class="card-img-top" style="height:200px; object-fit:cover;" />

                <div class="card-body">
                    <h5 class="card-title">@category.Name</h5>

                    <a asp-controller="Products"
                       asp-action="ByCategory"
                       asp-route-id="@category.Id"
                       class="btn btn-primary">
                        View Products
                    </a>
                </div>
            </div>
        </div>
    }
</div>




